<!DOCTYPE html>
<html>
<head>
    <title>Product list</title>
</head>
<body>
    <h1>Market</h1>

    <p><a href="/">Back to home</a> | <a href="/add">Add product</a></p>

    <ul>
        {% for product in products %}
        <li>
            <strong>{{ product.name }}</strong> - {{ product.price }} VNĐ <br>
            {{ product.description }}
            <a href="/edit/{{ product.id }}">Edit</a> |
            <a href="/delete/{{ product.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>